@font-face {
    font-family: 'News Cycle';
    src: local('News Cycle'), local('NewsCycle'), url('newscycle.woff2') format('woff2'), url('newscycle.woff') format('woff'), url('newscycle.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'News Cycle';
    src: local('News Cycle'), local('NewsCycle'), url('newscycle.woff2') format('woff2'), url('newscycle.woff') format('woff'), url('newscycle.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
