/*@font-face {
    font-family: 'News Cycle';
    src: local('News Cycle'), local('NewsCycle'), url('fonts/newscycle.woff2') format('woff2'), 
    url('fonts/newscycle.woff') format('woff'), 
    url('fonts/newscycle.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
} */
@font-face {
    font-family: 'News Cycle';
    src: url('fonts/newscycle.woff2') format('woff2'), 
        url('fonts/newscycle.woff') format('woff'), 
        url('fonts/newscycle.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
  /* font-family: Optima, 'Lucida Sans', Calibri, Candara, Arial, 'source-han-serif-sc', 'Source Han Serif SC', 'Source Han Serif CN', 'Source Han Serif TC', 'Source Han Serif TW', 'Source Han Serif', 'Songti SC', 'Microsoft YaHei', sans-serif;*/
  font-family: 'News Cycle';
}
blockquote {
  /*font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, 'STKaiti', 'KaiTi', '楷体', 'SimKai', 'DFKai-SB', 'NSimSun', serif;*/
  font-family: 'News Cycle';
}
code {
  /*font-family: "Lucida Console", 'Andale Mono', 'STKaiti', 'KaiTi', 'SimKai', monospace;*/
  font-family: 'News Cycle';
}
pre code {
  /*font-family: "Lucida Console", Monaco, 'STKaiti', 'KaiTi', 'SimKai', monospace;*/
  font-family: 'News Cycle';
  font-size: .85em;
}
