{{ partial "header.html" . }}

<div class="container">
<main class="list">
{{ $paginator := .Paginate (where .Data.Pages "Section" "!=" "") }}
{{ range $paginator.Pages }}
<section class="article-list">
  <div class="categories">
  {{ with .Params.categories }}
  {{ range first 1 . }}
    <a href="{{ relURL (print "/categories/" . | urlize) }}">{{ . }}</a>
  {{ end }}
  {{ else }}
    <a>{{ default "Без категории" .Site.Params.text.uncategorized }}</a>
  {{ end }}
  </div>
  <h1><a href="{{ .URL }}">{{ .Title }}</a></h1>
  <div class="date-author">
    {{ if .Params.author }}<span class="author">{{ partial "author_names.html" . }}</span> / {{ end }}
    <span class="date">{{ .Date.Format "02-01-2006" }}</span>
  </div>
  <div class="summary">
    <a href="{{ .URL }}">
    {{ with .Params.thumbnail }}
    <div class="thumbnail"><img src="{{ relURL . }}" alt="Thumbnail" /></div>
    {{ else }}
    {{ $img := findRE "<img src=\"[^\"]+\"" .Content 1 }}
    {{ range $img }}
    <div class="thumbnail">{{ (print . " alt=\"Thumbnail\" />") | safeHTML }}</div>
    {{ end }}
    {{ end }}
    {{ with .Description }}
      {{ $.Scratch.Set "summary" (markdownify .) }}
    {{ else }}
      {{ $.Scratch.Set "summary" ((delimit (findRE "(<p.*?>(.|\n)*?</p>\\s*)+" .Content) "[&hellip;] ") | plainify | truncate (default 200 .Site.Params.summary_length) (default " &hellip;" .Site.Params.text.truncated ) | replaceRE "&amp;" "&" | safeHTML) }}
    {{ end }}
    {{ $.Scratch.Get "summary" }}
    </a>
  </div>
</section>
{{ end }}
</main>
<nav>{{ template "_internal/pagination.html" . }}</nav>
</div>

{{ partial "footer.html" . }}
