<script async src="//yihui.name/js/center-img.js"></script>

<footer>
{{ partial "foot_custom.html" . }}
<div class="footer">
  <ul class="menu">
    {{ range .Site.Menus.main }}
    <li><a href="{{ .URL | relURL }}"><span data-hover="{{ .Name }}">{{ .Name }}</span></a></li>
    {{ end }}
  </ul>
  {{ with .Site.Params.footer }}
  <!--<div class="copyright">{{ . | markdownify }}</div>-->
  {{ end }}
</div>
</footer>

{{ if and (not .Params.disable_mathjax) (or (in (string .Content) "\\") (in (string .Content) "$")) }}
<script src="//yihui.name/js/math-code.js"></script>
<script async src="//mathjax.rstudio.com/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
{{ end }}

{{ if and (not .Params.disable_highlight) (in (string .Content) "</pre>") }}
<script src="//cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>
<script src="//cdn.bootcss.com/highlight.js/9.12.0/languages/r.min.js"></script>
<script>
hljs.configure({languages: []});
hljs.initHighlightingOnLoad();
</script>
{{ end }}

{{ template "_internal/google_analytics.html" . }}

</body>
</html>
